---
import Hamburger from './Hamburger.astro';
import Navigation1 from './Navigation1.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation1/>
  </nav>
</header>