---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import '../Style/slider.css'
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			.blur-load {
				background-size: cover;
			},

		</style>
	</head>
	<body>
		<Header />
		<h1>Astro</h1>
		<h1>{pageTitle}</h1>

		<slot />

		<div class="container">
			<div class="slider">
		
			  <input type="radio" name="slider" id="slideOne" checked>
			  <input type="radio" name="slider" id="slideTwo">
			  <input type="radio" name="slider" id="slideThree">
		
			  <div class="nav-arrows">
				<label for="slideThree" class="prev slideOne"></label>
				<label for="slideOne" class="prev slideTwo"></label>
				<label for="slideTwo" class="prev slideThree"></label>

				<label for="slideTwo" class="next slideOne"></label>
				<label for="slideThree" class="next slideTwo"></label>
				<label for="slideOne" class="next slideThree"></label>
			  </div>
		
			  <div class="buttons">
				<label for="slideOne"></label>
				<label for="slideTwo"></label>
				<label for="slideThree"></label>
			  </div>
		
			  <div class="content">
				<div class="firstslider"></div>
				<div class="secondslider"></div>
				<div class="thridslider"></div>
			  </div>
		
			</div>
		  </div>
		<Footer />

		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
